/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "News Cycle", sans-serif;
  font-size: 16px;
  padding: 15px;
  background: #f6f5f5;
}

.article {
  max-width: 823px;
  height: 280px;
  background: white;
  padding: 20px;
  border-top: 5px solid #0974b3;
  padding-bottom: 35px;
  display: block;
}

.image {
  width: 150px;
  float: left;
  margin-right: 20px;
}

.box1 {
  line-height: 100%;
  background: white;
  padding-right: 20px;
  text-align: justify;

  font-size: 95%;
}
p {
  margin-bottom: 10px;
}

h1 {
  padding: 0;
  line-height: 100%;
}

.italic {
  font-style: italic;
}
.year {
  padding-bottom: 10px;
}
.colored {
  color: #0974b3;
}
.article1 {
    max-width: 380px;
    height: 350px;
    margin: auto;
  display: inline-block;
  
  margin-top: 30px;
}
.space{
    margin-left:20px;
}
